code/dcd_loader
code/ann
dcd
*.swp
*.o
*.pyc

# Tex output
*.aux
*.lof
*.lot
*.log
*.dvi
*.pdf
*.toc
*.bbl
*.blg
*.nav
*.out
*.snm

# Binaries
driver
code/devillersgandoin/dgcomp
code/devillersgandoin/test_point_compression
code/devillersgandoin/test_transformation
code/gumhold/gumhold
code/quantcomp/quantcomp
code/verifiers/atomextract
code/verifiers/checkcomp
code/verifiers/checkdcd
code/verifiers/frameextract
code/verifiers/metadata
code/watercomp/watercomp

*.xcf
