body
{
    font-family: serif;
    font-size: 16px;
}

body div
{
    color: #222;
    line-height: 1.2em;
}

.center
{
    margin: 0 auto;
}

.clearfix
{
    clear: both;
}

h1
{
    padding: 0.5em 0.5em;
    margin: 0.5em 0;
    font-weight: bolder;
    font-size: 1.2em;
    color: #fff;
    background-color: #79b;
    font-family: "Sans serif", sans;
}

h2
{
    padding: 0.5em 1em;
    margin: 0.5em 0;
    color: #ddd;
    background-color: #579;
    font-family: "Sans serif", sans;
}

h3
{
    padding: 0.2em 1em;
    margin: 0.2em 0;
    font-family: "Sans serif", sans;
}

h4
{
    font-family: "Sans serif", sans;
}

p
{
    margin-bottom: 1em;
    /*
    text-align: justify;
    */
}

span.bold
{
    font-weight: bold;
}

div.right-float
{
    margin-left: 1em;
    float: right;
}
